.container {
  background-color: rgb(224, 224, 224);
}

.unorderlist_item {
  /* text-decoration: none; */

  list-style-type: none;
}

.linktag {
  text-decoration: none;
  color: red;
}

/* ============= */

.content {
  display: flex;
  justify-content: space-between;

  padding: 32px;
}

.left-box {
  border-radius: 32px;
  width: 200px;
}

.right-box {
  border-radius: 32px;
  width: 200px;
}

.bgcolor {
  background-color: blue;
}
